<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Saver|Saved</title>
    <link rel="stylesheet" href="urlsavestyle.css">
    <script src="https://kit.fontawesome.com/a629854a52.js" crossorigin="anonymous"></script>
</head>

<body>
    <header id="header">
        <nav id="nav-bar">
            <h2 class="company-name" title="Return to Home Page"><a class="company-link" href="">URL Saver</a></h2>
            <div class="menu">
                <a href="" class="nav-link" href="/">Login</a>
                <a href="" class="nav-link" href="/">Logout</a>
                <a href="" class="nav-link" href="/">Profile</a>
            </div>
        </nav>
    </header>
    <br><br><br><br><br><br><br>
    <div class="free-space"></div>
    <div class=create-div>
        <button type="button" class="create"><a class="create-link" href="">CREATE NEW!</a></button>
    </div>
    <div class="main">
        <div class="urls">
            <br><br>
            <div class="saved-div">
                <section class="saved-url">
                    <a href="" target="_blank" class="link-div">
                        <p class="link-text"><span style="color: black"><i class="fa-solid fa-globe"></i></span>&nbsp; www.javascript.com</p>
                        <p class="date-text"><span style="color: black">&nbsp;<i class="fa-solid fa-calendar fa-xl"></i></span>&nbsp; &nbsp; &nbsp; Added on: 1<sup>st</sup> November, 2070</p>
                    </a>
                </section>
            </div>
            <br>
            <div class="ctrl-buttons">
                <button class="edit-button" type="button">Edit</button>
                <button class="delete-button" type="button">Delete</button>
            </div>
            <div class="url-separators"></div>
        </div>
        <div class="urls">
            <br><br>
            <div class="saved-div">
                <section class="saved-url">
                    <a href="" target="_blank" class="link-div">
                        <p class="link-text"><span style="color: black"><i class="fa-solid fa-globe"></i></span>&nbsp; www.javascript.com</p>
                        <p class="date-text"><span style="color: black">&nbsp;<i class="fa-solid fa-calendar fa-xl"></i></span>&nbsp; &nbsp; &nbsp; Added on: 1<sup>st</sup> November, 2070</p>
                    </a>
                </section>
            </div>
            <br>
            <div class="ctrl-buttons">
                <button class="edit-button" type="button">Edit</button>
                <button class="delete-button" type="button">Delete</button>
            </div>
            <div class="url-separators"></div>
        </div>
        <div class="urls">
            <br><br>
            <div class="saved-div">
                <section class="saved-url">
                    <a href="" target="_blank" class="link-div">
                        <p class="link-text"><span style="color: black"><i class="fa-solid fa-globe"></i></span>&nbsp; www.javascript.com</p>
                        <p class="date-text"><span style="color: black">&nbsp;<i class="fa-solid fa-calendar fa-xl"></i></span>&nbsp; &nbsp; &nbsp; Added on: 1<sup>st</sup> November, 2070</p>
                    </a>
                </section>
            </div>
            <br>
            <div class="ctrl-buttons">
                <button class="edit-button" type="button">Edit</button>
                <button class="delete-button" type="button">Delete</button>
            </div>
            <div class="url-separators"></div>
        </div>
    </div>
    <br><br>
    <footer>
        <br><br><br>
        <div class="footer-links">
            <a href="https://www.github.com" target="_blank"><i class="fa-brands fa-github fa-xl"></i>Github</a>
            <a href="https://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i>LinkedIn</a>
            <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram-square fa-xl"></i>Instagram</a>
            <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-twitter-square fa-xl"></i>Twitter</a>
        </div>
    </footer>
</body>

</html>
