html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    background-color: #38b000;
    color: #FFFFFF;
}

.company-name {
    font-family: sans-serif;
    font-size: 32px;
    /*border: 1px solid red;*/
    min-width: 269.5px;
}

.company-link {
    color: white;
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    max-width: 20%;
    font-size: 18px;
    /*border: 1px solid red;*/
    align-items: center;
}

.menu :hover {
    color: white;
    border-radius: 5px;
    transition: 0.3s ease;
}

a.nav-link:hover {
    background-color: #29bf12;
    padding: 5px;
}

a {
    text-decoration: none;
    text-decoration-color: none;
    color: inherit;
}

button.create {
    flex-direction: row;
    color: white;
    height: 70px;
    width: 50%;
    background-color: #29bf12;
    font-family: monospace;
    font-size: 30px;
    border-radius: 7px;
    border: none;
}

.create:hover {
    background-color: #38b000;
    color: white;
}

div.urls {
    margin-left: 10%;
    margin-right: 10%;
}

div.url-separators {
    border-bottom: 1px solid lightgrey;
    padding-top: 10px;
}

.urls:last-child .url-separators {
    border-bottom: 0px;
}

div.create-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.saved-div {
    display: flex;
    flex-direction: row;
}

a.create-link {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
}

a.link-div {
    text-decoration: none;
}

section.saved-url {
    background-color: #F3F4F6;
    width: 100%;
    height: auto;
    border-radius: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.saved-div :hover {
    background-color: #dee2e6;
}

.link-text {
    padding-left: 100px;
    font-size: 30px;
    color: black;
}

.date-text {
    padding-left: 100px;
    color: grey;
}

.ctrl-buttons {
    display: flex;
    justify-content: flex-end;
}

.edit-button {
    background-color: #29bf12;
    height: 30px;
    width: 60px;
    border: none;
    border-radius: 3px;
    color: white;
}

.edit-button:hover {
    background-color: #38b000;
}

.delete-button {
    background-color: #29bf12;
    height: 30px;
    width: 60px;
    margin-left: 1%;
    border: none;
    border-radius: 3px;
    color: white;
}

.delete-button:hover {
    background-color: red;
}

footer {
    background-color: #29bf12;
    height: 100px;
}

div.footer-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media(max-width: 1111px) {
    .menu {
        max-width: 30%;
        transition: 3s;
    }
}

@media(max-width: 900px) {
    .menu {
        max-width: 40%;
        transition: 3s;
    }
}

@media(max-width: 600px) {
    .menu {
        max-width: 45%;
        transition: 3s;
    }
}

@media(max-width: 500px) {
    #nav-bar {
        flex-direction: column;
        padding-right: 10px;
    }

    .company-name {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-grow: 0;
        text-align: center;
    }

    .menu {
        justify-content: space-evenly;
        align-items: center;
        max-width: 80%;
        padding-bottom: 10px;
        margin-left: 10%;
    }

    div.free-space {
        height: 50px;
    }
}
